body {
  font-size: 10x;
}

.section-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.left-box,
.right-box {
  flex: 1;
}

.About {
  text-align: center;
}
.Icon {
 /* display: flex;
  position: relative;
  margin-bottom: var(--spacing-xl);
  border-radius: var(--border-radius-md);
  overflow: hidden; */
object-position: left;
}
.Icon img {
  height: 50px;
  width: 50px;
  object-position: left;
}

/*.PC,
.Prevention,
.Medics foto {
  display: flex;
}*/
.PC {
  text-align: left;
}
.Prevention {
  text-align: right;
  
}
/*.Medics-foto*/
img {
  align-content: center;
  /*height: 100px;
  width: 100px;*/

  padding-left: 500px;
  padding-right: 600px;
}
.HV {
  text-align: center;
}

.Cx {
  text-align: right;
}

.section-row {
  display: inline-block;
  justify-content: space-between;
}
