body{
   
    background-color:#FFFFFF;
    
}
.main{
    width: 100vw;
    height: 100vh;
    margin: 4px;
    overflow-x: hidden;
}

.parent{
    height: 50%;
    width: screen;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    overflow-x: hidden;
}

.message{
    text-align: center;
}
h1{
    font-size: 22px;
}

.info{
    font-size: 15px;
}
.opentab{
   
    background-color: #EF6B6E;
    border-radius: 15px;
    padding: 4px;
}

.image{
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

img{
    width:100%;
    height: 80px;
    border-radius: 10px;
    margin: 2px;
}

h6{
    color: #FFFFFF;
    font-size:18px;
}
.text{
    font-size:15px;
    color: #FFFFFF;
    
}

.articles{
    display: flex;
    flex-direction: column;
}

.arti{
    background-color:#F1F1F1;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 4px;
    margin: 3px;
    border-radius: 5px;
   
}

.secondparent{
 background-color: #F1F1F1;
 
}

#pic{
        width:100%;
        height:200px;
        border-radius: 10px;
        margin: 2px;
      
    }
/* sized{
    position: relative;
} */

    
.btn{
    width:55% ;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
  
   
   

}

button{
    width: 100%;
    background-color: #EF6B6E;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    font-size: 15px;
    border-radius:8px;
    
}

.opec{
    width:55% ;
    height: 10%;
    background-color:black;
    /* opacity:2; */
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 2px;
    color: white;
    
}

.number{

    font-size: 24px;
    font-weight: bold;
}

.reach{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 2px solid red; */
}

.head{
    /* color: #F1F1F1; */
    font-size: 10px;
}

.contact{
    font-size: 12px;
   
}

ul,li{
  list-style-type: none;
  padding-left: 0;
}

.listone{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.listtwo{
    display: flex;
    color: #EF6B6E;
    gap: 8px;
}

footer{
    align-items:center;
}
@media  (min-width:1280px){
        .parent{
            
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px;
            overflow-x: hidden;
        }
      .message{
        width: 20%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .details{
        width: 50%;
      }

      .opentab{
        display: flex;
        background-color: #EF6B6E;
        border-radius: 15px;
        padding: 4px;
        gap: 4px;
    }

    img{
        width:100%;
        height: 80px;
        border-radius: 10px;
    }
    
}

/* this is my css code*/

    
