body {
  font-size: 14px;
  padding: 10px;
}
p {
    line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

.About {
  text-align: center;

}

.PC {
  text-align: left;
}

.Icon {
  width: 20px;
  height: auto;
  display: block;
  margin-top: 10px auto;

}


.Medics foto {
  /*width: 30px;
  height: auto;
  border-radius: 10px;*/
  max-width: 150px;
  flex: 1;
  margin: 0 10px;


}

.Prevention {
  text-align: right;
}
