.About {
  text-align: center;
}

.PC {
  text-align: left;
}

.Icon {
  width: 40px;
  height: auto;
  display: block;
  margin-top: 10px auto;
}

.Medics foto {
  width: 80%;
  height: auto;
  border-radius: 10px;
  max-width: 600px;
}

.Prevention {
  text-align: right;
}
