:root {
    /* Colors */
    --primary-white:#FFFFFF ;
    --secondary-concrete: #3B3434;
    --secondary-dune: #F1F1F1;
    --accent-light-coral: #EF6B6E;
  

    /* Additional Colors */
    /* Status colors */
    /* Background colors */


    /* Typography */
    --font-urbanist: 
    --font-test-calibre: 


    
}