    /* Colors */
/* variables.css */
:root {
    --light-coral: #EF686E;
    --dune: #3B3434;
    --concrete: #F1F1F1;
    --white: #FFFFFF;
    --gray-600: #4a5568;
    --gray-400: #a1a1aa;
    --rose-100: #fecaca;
}

    /* Additional Colors */
    /* Status colors */
    /* Background colors */


    /* Typography
        --font-urbanist: ;
    --font-test-calibre: ;
    */
/* variables.css */